<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbCheckPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbCheckPlan">
        <id column="name" property="name" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="check_start_date" property="checkStartDate" />
        <result column="check_end_date" property="checkEndDate" />
        <result column="dept_name" property="deptName" />
        <result column="checker" property="checker" />
        <result column="check_plan_file_id" property="checkPlanFileId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        name, type, check_start_date, check_end_date, dept_name, checker, check_plan_file_id, remark
    </sql>

</mapper>
