<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbCommitmentEveryDayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbCommitmentEveryDay">
        <id column="commit_id" property="commitId" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="special_num" property="specialNum" />
        <result column="level1_num" property="level1Num" />
        <result column="leve2_num" property="leve2Num" />
        <result column="danger_source1_num" property="dangerSource1Num" />
        <result column="danger_source2_num" property="dangerSource2Num" />
        <result column="danger_source3_num" property="dangerSource3Num" />
        <result column="danger_source4_num" property="dangerSource4Num" />
        <result column="start_eqp_num" property="startEqpNum" />
        <result column="stop_eqp_num" property="stopEqpNum" />
        <result column="check_eqp_num" property="checkEqpNum" />
        <result column="check_eqp_work_num" property="checkEqpWorkNum" />
        <result column="has_danger" property="hasDanger" />
        <result column="enterprise_id" property="enterpriseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        commit_id, special_num, level1_num, leve2_num, danger_source1_num, danger_source2_num, danger_source3_num, danger_source4_num, start_eqp_num, stop_eqp_num, check_eqp_num, check_eqp_work_num, has_danger, enterprise_id
    </sql>

</mapper>
