<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbDangerCraftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbDangerCraft">
        <id column="name" property="name" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="typical_processes" property="typicalProcesses" />
        <result column="monitor_params" property="monitorParams" />
        <result column="responsible_person" property="responsiblePerson" />
        <result column="connect_phone" property="connectPhone" />
        <result column="plan_name" property="planName" />
        <result column="plan_file_id" property="planFileId" />
        <result column="control_safe_require" property="controlSafeRequire" />
        <result column="control_plan" property="controlPlan" />
        <result column="enterprise_id" property="enterpriseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        name, typical_processes, monitor_params, responsible_person, connect_phone, plan_name, plan_file_id, control_safe_require, control_plan, enterprise_id
    </sql>

</mapper>
