<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbEqpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbEqp">
        <id column="name" property="name" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="eqp_code" property="eqpCode" />
        <result column="eqp_specifications" property="eqpSpecifications" />
        <result column="eqp_num" property="eqpNum" />
        <result column="use_date" property="useDate" />
        <result column="check_date" property="checkDate" />
        <result column="status" property="status" />
        <result column="enterprise_id" property="enterpriseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        name, type, eqp_code, eqp_specifications, eqp_num, use_date, check_date, status, enterprise_id
    </sql>

</mapper>
