<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbEqpCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbEqpCheck">
        <id column="type" property="type" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="check_time_start" property="checkTimeStart" />
        <result column="check_time_end" property="checkTimeEnd" />
        <result column="check_address" property="checkAddress" />
        <result column="check_plan" property="checkPlan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        type, check_time_start, check_time_end, check_address, check_plan
    </sql>

</mapper>
