<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbParkGridPatrolTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbParkGridPatrolTmp">
        <id column="team_name" property="teamName" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="team_leader" property="teamLeader" />
        <result column="grid_id" property="gridId" />
        <result column="team_leader_phone" property="teamLeaderPhone" />
        <result column="patrol_task" property="patrolTask" />
        <result column="patrol_route" property="patrolRoute" />
        <result column="patrol_frequency" property="patrolFrequency" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        team_name, team_leader, grid_id, team_leader_phone, patrol_task, patrol_route, patrol_frequency
    </sql>

</mapper>
