<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geovis.manager.bs.mapper.TbThirdUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geovis.manager.bs.entity.TbThirdUnit">
        <id column="name" property="name" />
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="master_name" property="masterName" />
        <result column="master_phone" property="masterPhone" />
        <result column="qualification_level" property="qualificationLevel" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="expire_date" property="expireDate" />
        <result column="type" property="type" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        name, master_name, master_phone, qualification_level, email, address, expire_date, type, status
    </sql>

    <select id="getEnterprisePage" resultType="com.geovis.manager.bs.dto.TbThirdUnitEnterpriseDTO">
        select
            a.*,
            b.train_content,
            b.train_time,
            b.train_status
        from tb_third_unit a
        left join tb_third_unit_enterprise b on a.id = b.third_unit_id
        <where>
            ${ew.sqlSegment}
        </where>
        order by a.create_time desc
    </select>

    <select id="getParkPage" resultType="com.geovis.manager.bs.dto.TbThirdUnitParkDTO">
        select a.*,
        (select string_agg(t.name,',') from tb_enterprise t
        left join tb_third_unit_enterprise t1 on t.id = t1.enterprise_id
        where t1.third_unit_id = a.id) as enterpriseNames
        from tb_third_unit a
        <where>
            ${ew.sqlSegment}
        </where>
        order by a.create_time desc
    </select>

</mapper>
